{% extends 'navbar_footer_menu.html' %}
{% load static %}
{% block content %}
<link href="{% static 'css/timeline.css' %}" rel="stylesheet">

{% if user.is_authenticated %}
    <section class="content" style="margin-left: 14%; margin-top:5%;">

        <div class="dropdown" style="margin-top: -3%; margin-bottom:1%;" >
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
            Search manu
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div class="container-fluid float-right" >
                     <form method="get" class="float-right">
                       <div class="row" >
                           <div class="col-md-10 offset-md-1">
                             <div class="row ">
                               <div class="col-3">
                                   <div class="form-group">
                                        <label>Username</label>
                                    <input type="text"  name="username" class="form-control" placeholder="Username...">
                                  </div>
                               </div>

                               <div class="col-3">
                                   <div class="form-group">
                                       <label >Date of post from:</label>
                                    <input type="date" name="from_date"   class="form-control" value="{{ from_date|default:'' }}"  placeholder=" ">
                                  </div>
                               </div>

                               <div class="col-3">
                                   <div class="form-group">
                                        <label >Date of post to:</label>
                                    <input type="date"  name="to_date"  class="form-control"  value="{{ to_date|default:'' }}">
                                  </div>
                               </div>

                               <div class="col-3">
                                   <div class="form-group" >
                                    <label >Sort by most likes:</label>
                                    <input type="checkbox" class="form-control" name="sort_by_likes" {% if sort_by_likes %}checked{% endif %}>
                                  </div>
                               </div>

                                 <div class="col-11">
                                    <button type="submit" class="btn btn-lg btn-default" style="width: 100%;">
                                 <i class="fa fa-search"></i>
                               </button>
                                </div>
                             </div>
                           </div>
                       </div>
                     </form>
                  </div>

          </div>
        </div>


      <div class="container-fluid">
        <!-- Timelime example  -->
        <div class="row">
          <div class="col-md-12">
            <!-- The time line -->
            {% if blog_comments %}
              {% for blog, comments in blog_comments %}
              <div class="timeline">
              <!-- timeline time label -->
              <div class="time-label">
                <span class="bg-red">{{ blog.time_of_blog|date:"d/m/Y" }}</span>
              </div>
              <!-- /.timeline-label -->
              <!-- timeline item -->
              <div>
                <i class="fas fa-envelope bg-blue"></i>
                <div class="timeline-item">
                  <span class="time"><i class="fas fa-clock"></i> {{ blog.time_of_blog|date:"H:i:s" }}</span>
                  <h3 class="timeline-header"><a href="#">Posted by:</a> {{blog.blog_user.username}}</h3>
                    <div class="timeline-body ">{{ blog.blog_text}}</div>
                    {% if request.user == blog.blog_user %}

                      <form action="{% url 'blog-delete' pk=blog.pk %}" method="post" class="float-right" >
                          {% csrf_token %}
                          <button type="submit" class="float-right btn-tool" style="border: None;"><i class="fas fa-times" style="color:red;"></i></button>
                      </form>
                    {% endif %}

                  <div class="timeline-footer">
                      <span >
                          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                              <li class="nav-item">
                                <div class="dropdown" >
                                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownComments" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                        <span class="float-right">
                                              <i class="far fa-comments mr-1"></i> Comments {{ blog.comments.count }}
                                            </span>
                                      </button>
                                       <a href="#" class="link-black text-sm float-right"><i class="far fa-thumbs-up mr-1"></i> Like {{ blog.likes.count }}</a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownComments">
                                        {% for comment in comments %}
                                             <p style="margin-top: 10%;">{{ comment.comment_text|linebreaks }}</p>
                                                 <small>by {{ comment.comment_user.username }} on {{ comment.time_of_comment }}</small>
                                          {% empty %}
                                            <p style="margin-top: 10%;">No comments yet.</p>
                                        {% endfor %}
                                    </div>
                                </div>
                              </li>
                            </ul>

                        </span>

                  </div>
                </div>
              </div>
              <!-- END timeline item -->
              <div>

              </div>
            </div>
              {% endfor %}
            {% endif %}
          </div>
          <!-- /.col -->
        </div>
      </div>
      <!-- /.timeline -->

    </section>




{% endif %}

{% endblock %}

