{% extends 'navbar_footer_menu.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}

<div class="wrapper">
  <!-- Navbar -->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                    {% if page_user.image %}
                        <img class="profile-user-img img-fluid img-circle"
                            src="{{ page_user.image.url }}"
                            alt="User profile picture">
                    {% else %}
                        <img class="profile-user-img img-fluid img-circle"
                                src=""
                                alt="User profile picture">
                    {% endif %}
                </div>

                <h3 class="profile-username text-center">{{ page_user.username }}</h3>

                <p class="text-muted text-center">{{ page_user.first_name }}{{ page_user.last_name }}</p>

                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                    <strong><i class="fas fa fa-address-book mr-1"></i> Address: </strong>
                     <p class="text-muted">{{ page_user.address }} , {{ page_user.city }} , {{ page_user.country }} , {{ page_user.postal_code }}</p>
                  </li>
                  <li class="list-group-item">
                    <strong><i class="fas fa fa-phone mr-1"></i> Phone number:</strong>
                    <p class="text-muted">{{ page_user.phone_number }} </p>
                  </li>
                  <li class="list-group-item">
                    <strong><i class="fas fa fa-calendar mr-1"></i> Date of join:</strong>
                    <p class="text-muted">{{ page_user.date_of_join }}</p>
                  </li>
                  <li class="list-group-item">
                    <strong><i class="fas fa fa-clock mr-1"></i> Last time logged in:</strong>
                    <p class="text-muted">{{ page_user.last_login }}</p>
                  </li>
                  <li class="list-group-item">
                    <strong><i class="fas fa fa-birthday-cake mr-1"></i> Date of birth:</strong>
                    <p class="text-muted">{{ page_user.date_of_birth }}</p>
                  </li>
                </ul>
                    {% if request.page_user != user %}
                     {% if request.user in user.followers.all %}
                         <form action="{% url 'unfollow_user' user.user_id %}" method="POST">
                             {% csrf_token %}
                             <button type="submit" class="btn btn-danger btn-block"><b>Unfollow -</b></button>
                         </form>
                    {% else %}
                        <form action="{% url 'follow_user' user.user_id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary btn-block"><b>Follow +</b></button>
                        </form>
                        {% endif %}
                    {% endif %}
<!--                <a href="#" class="btn btn-primary btn-block"><b>Follow +</b></a>-->
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- About Me Box -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">About Me</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <strong><i class="fas fa-book mr-1"></i> Education</strong>
                <p class="text-muted">{{ page_user.user_info.education }}</p>
                <hr>
                <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>
                <p class="text-muted">{{ page_user.user_info.skills }}</p>
                <hr>
                <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>
                <p class="text-muted">{{ user_info.bio }}</p>
                <p class="text-muted">Followers: {{ request.user.followers.count }}</p>
                <p class="text-muted">Following: {{ following_count }}</p>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Activity</a></li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">

                  <div class="active tab-pane" id="activity">
                    <!-- Post -->
                    {% if blog_comments %}
                      {% for blog, comments in blog_comments %}
                    <div class="post">
                      <div class="user-block">
                         {% if page_user.image %}
                          <img class="img-circle img-bordered-sm" src="{{ page_user.image.url }}" alt="{{ page_user.username }}">
                        {% endif %}
                        <span class="username">
                          <a href="#">{{ blog.name }}</a>
                        </span>
                        <span class="description">Shared publicly time: -<time>{{ blog.time_of_blog|date:"H:i:s" }}</time></span>
                        <span class="description">Shared publicly date -<time>{{ blog.time_of_blog|date:"d/m/Y" }}</time></span>
                      </div>
                      <!-- /.user-block -->
                      <p>{{ blog.blog_text}}</p>

                      <p>
                        <a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> Like {{ blog.likes.count }}</a>
                        <span class="float-right">
                        </span>
                      </p>
                      <p>
                     <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                          <a href="#" class="nav-link">
                            <p>
                              <span class="float-right">
                                <i class="far fa-comments mr-1"></i> Comments {{ blog.comments.count }}
                              </span>
                            </p>
                          </a>
                          <ul class="nav nav-treeview">
                            {% for comment in comments %}
                                <li class="nav-item" style="border-bottom: 1px solid white;">
                                    <p>{{ comment.comment_text|linebreaks }}</p>
                                    <small>by {{ comment.comment_user.username }} on {{ comment.time_of_comment }}</small>
                                   {% empty %}
                                      <p>No comments yet.</p>
                                  </li>

                                {% endfor %}


                          </ul>
                        </li>
                      </ul>


                      </p>
                      <form class="form-horizontal">
                        <div class="input-group input-group-sm mb-0">
                          <input class="form-control form-control-sm" placeholder="Response">
                          <div class="input-group-append">
                            <button type="submit" class="btn btn-danger">Send</button>
                          </div>
                        </div>
                      </form>

                    </div>
                    <!-- /.post -->
                  {% endfor %}

                  {% endif %}
                  </div>
                </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
</div>
{% endif %}
{% endblock %}


