{% extends 'navbar_footer_menu.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}

  <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" xmlns="http://www.w3.org/1999/html">
    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="card">
        <div class="card-body row">
          <div class="col-5 text-center d-flex align-items-center justify-content-center">
            <div class="">
              <h2>Admin<strong> Davor Telisman</strong></h2>
              <p class="lead mb-5">Belgrade Serbia <br>
                Phone: +381 69 617 675
              </p>
            </div>
          </div>
          <div class="col-7">
            <form action="" method="POST" class="form-control" enctype="multipart/form-data">
                {% csrf_token %}

              <label for="id_name" style="border:None;">Name</label>
              <input type="text" name="name" class="form-control"  required="" id="id_name" />

              <label for="id_email">E-Mail</label>
              <input type="email" name="email" class="form-control"  required="" id="id_email" />


              <label for="id_subject">Subject</label>
              <input type="text" name="subject" class="form-control"  required="" id="id_subject" />

              <label for="id_message">Message</label>
              <textarea name="message" cols="40" rows="10" class="form-control" required="" id="id_message" spellcheck="false" style="height: 255px;"></textarea>

              <input type="submit" class="btn btn-primary" value="Send message">

              </form>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>

{% endif %}
{% endblock %}
